.color-fondo {
    height: 100px;
    background-color: yellow;
}
.imagen-fondo {
    height: 300px;
    background-image: url('paisaje.jpg');
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.degradado1-fondo{ 
    height: 200px;
    background-image: linear-gradient(red, white);
}
.degradado2-fondo{ 
    height: 200px;
    background-image: radial-gradient(red, white);
}
.degradado3-fondo{ 
    height: 200px;
    background-image: conic-gradient(red, white);
}